<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
    title 部门管理 
  body
    div.container
      div.row.clearfix
        div.col-md-12.column
          table.table.table-bordered.table-hover
            thead
              tr
                th 编号
                th 名称
                th 手机
                th 地址
                th 性别
                th 描述
                th 所属部门
                th 领导人名称
                th 操作
               
            tbody.table-striped
            each d in data
              tr
                td #{d['dept_id']}
                td #{d['dept_name']}
                td #{d['user_phone']}
                td #{d['user_address']}
                td #{d['user_sex']}
                td #{d['t_desc']}
                td #{d['dept_name']}
                td #{d['leader_name']}
                td <a href="javascript:;" data-id="#{d['dept_id']}">修改</a>
    
